body {
    margin: 0;
    font-family: Arial, sans-serif;
}

h1{
    font-size: 48px;
}

p{
    font-size: 16px;
}

main {
    width: 1024px;
    margin: 0 auto; /* Centraliza o conteúdo */
    padding: 20px;
    background-color: aqua;
}

