body {
    margin: 0;
    font-family: Arial, sans-serif;
}

h1{
    font-size: 3rem;
}

p{
    font-size: 1rem;
}

main {
    min-width: 320px;
    max-width: 1024px;
    margin: 0 auto; /* Centraliza o conteúdo */
    padding: 20px;
    background-color: aqua;
}


